@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: black;
}

.main {
    background-image: url("assets/img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 644px;
    position: relative;
    object-fit: cover;
    
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.65;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    position: relative;
    /* z-index: 30; */
    font-family: "Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif";
    gap: 23px;
    padding: 0px 30px;
    text-align: center;
}

.hero span:nth-child(1) {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.hero span:nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero span:nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.separation{
    height: 7px;
    background-color: rgb(48, 47, 47);
    position: relative;
    z-index: 20;
}
.btn{
    padding: 3px 17px;
    border-radius: 4px;
    border: 2px solid rgb(86, 84, 84);;
    margin: 4px;
    gap: 7px;
    background-color: transparent;
    color: white;
    cursor: pointer;
}
.btn-red{
    background-color: red;
    color: white;
    font-size: 20px;
    border: none;
    position: relative;
    padding: 5px 23px;
    font-weight: 500;
    border-radius: 4px;
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main input{
    position: relative;
    padding:7px 101px 8px 14px ;
    font-weight: 400;
    font-size: 12px;
    border-radius: 4px;
    background-color: transparent;
    border: 2px solid rgb(86, 84, 84);
    color: white;
}
.btn-red-sm{
    background-color: rgb(229, 9, 20);
    color: white;
    font-weight: 500;
    border-radius: 0.25rem;
    padding: 0.25rem 1rem;
    border: none;
    position: relative;
    
    font-size: 0.875rem;
}
.first{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    color: white;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    
    
}
   

.secImg{
    position: relative;
    
}
.secImg img{
    width: 555px;
    position: relative;
    z-index: 15;
}
.secImg video{
    position: absolute;
    top:51px;
    right: 0;
    width: 555px;
    /* position: absolute;
    top: 34px;
    right: 103px;
    width: 344px; */
    /* object-fit: cover; */
    
    
}
/* .second-image{
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 100%;
} */
.first .third{
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    color: white;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    
    
}
/* @media screen and (max-width:1300px) {
    .first .third{
        flex-wrap: wrap;
    }
} */
.secImg1{
    position: relative;
}
.secImg1 img{
    width: 600px;
    position: relative;
    z-index: 15;
}
.secImg1 video{
    position: absolute;
    top: 55px;
    right: 103px;
    width: 400px;
    
}

section.first>div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}
.first span:nth-child(1){
    /* font-family: "Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif"; */
    font-weight: 700;
    font-size: 48px;
    
  
}
.first span:nth-child(2){
    /* font-family: "Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif"; */
    font-weight: 400;
    font-size: 20px;
    padding-top: 20px;
  
}
.faq{
    
    background-color: black;
    color: white;
    padding: 34px;
    
}
.faq h2{
    text-align: center;
    font-size: 48px;
}
.faqbox:hover{
    background-color: gray;
}
/* .faqbox svg{
    filter: invert(1);
} */
.faqbox{
    transition: all 1s ease-in-out;
    font-size: 24px;
    background-color: rgb(33, 33, 33);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 70vw;
    margin: 10px auto;
    cursor: pointer;
    color: white;
    
}
footer{
    color: white;
    margin: auto;
    max-width: 60vw;
    padding: 14px;
}
footer .questions{
    padding: 34px 0;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
    
}
/* @media screen and (max-width:1300px){
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        color: white;
        max-width: 60vw;
        margin: auto;
        gap: 55px;
        
    }
    
} */
.footer a{
    font-size: 14   px;
    color: white;
    cursor: pointer;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

/* @media screen and (max-width:1300px) {
    nav{
        max-width: 90vw;
    }
    .hero-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    .first{
        flex-wrap: wrap;
    }
    .secImg img{
        width: 305px;
        
    }
    .secImg video{
        width: 305px;
    }
    
    .hero span:nth-child(1) {
        font-size: 32px;
    }
    .hero span:nth-child(2) {
        font-size: 18px;
    }
    .hero span:nth-child(3) {
        font-size: 18px;
    }
} */